# progress tracking
PROGRESS.md

# python
__pycache__/
*.pyc
*.pth

# data - never commit datasets to git
data/
datasets/

# environment
.env
venv/
.venv/

# mlflow
mlruns/

# jupyter checkpoints
.ipynb_checkpoints/

# os
.DS_Store
Thumbs.db

# in .gitignore
test_check.py
test_shap.py
tets_gradcam.py

models/

mlflow.db
mlruns/

.vscode/

hf-space/